header {
    color: #000000;
    background-color: #f5deb3;
    margin-left: 10px;
}

.cabecalho {
    color: #000000;
    background-color: #f5deb3;
    margin-left: 390px;
    text-align: center;
    display: inline-block;
    font-size: 33px;
}

.cabecalho-lista-1 {
    color:#000000;
    margin-left: 330px; 
    padding: 10px; 
    text-align: center;
    font-size: 15px;
}

.titulo-2 {
    padding: 30px;
    color: #e2be8b;
    margin-left: 21px;
    justify-content: center;
    display: flex;
}

.paragrafo-1 {
    margin-left: 130px;
    justify-content: center;
}

body {
    color: #e2be8b;
    background-color: #330000;
    margin-left: 10px;
    margin-right: 60px;
    justify-content: center;
    font-family: "Playfair Display" , 'serif';
    font-size: 17px;
}

.cafe {
    margin-left: 90px;
    margin-right: 90px;
    padding: 30px;
    width: 30%;
    display: inline;
}

.retrocoffee {
    margin-left: 10px;
    padding: 30px;
    width: 24%;
    align-items: center;
    display: inline;
}

footer {
    padding: 20px;
    background-color: #f5deb3;
    color: #000000;
    font-size: 13px;
}

p {
    justify-content: center;
    padding: 12px;
}