header {
    color: #000000;
    background-color: #f5deb3;
}


.cabecalho {
    color: #000000;
    margin-left: 360px;
    text-align: center;
    display: flex;
}

.cabecalho-lista-1 {
    color:#000000;
    margin-left: 260px; 
    padding: 40px; 
    display: inline-block;
    justify-content: center;
}

.titulo-2 {
    color: #000000;
    justify-content: center;
    display: flex;
}

.paragrafo-1 {
    margin-left: 20px;
    justify-content: center;
}

body {
    color: #000000;
    background-color: #cf0e0e;
    margin-left: 70px;
    margin-right: 200px;
    justify-content: center;
}

.retrocoffee {
    margin-left: 50px;
    padding: 20px;
    width: 70%;
    display: inline;
}

.cafe {
    margin-left: 50px;
    padding: 20px;
    width: 50%;
    display: inline;
}

footer {
    background-color: #f5deb3;
    color: #000000;
}

p {
    justify-content: center;
    padding: 12px;

}