header {
    color: #000000;
    background-color: #e8d581;
}


.cabecalho {
    color: #000000;
    margin-left: 320px;
    text-align: center;
    display: flex;
}

.cabecalho-lista-1 {
    color: #000000;
    margin-left: 330px;
    padding: 20px;
    display: inline-block;
    justify-content: center;
}

body {
    color: #000000;
    background-color: #e8d581;
    margin-left: 70px;
    margin-right: 200px;
    justify-content: center;
}

.ambiente {
    margin-left: 220px;
    padding: 60px;
    width: 90%;
}